<!--<form [formGroup]="service.form" class='normal-form'>-->
<!--    <mat-grid-tile colspan='2' rowHeight='300px'>-->
<!--        <mat-grid-tile>-->
<!--            <div class='controls-container'>-->
<!--                <input type='hidden' formControlName="$countryId">-->
<!--                <mat-form-field>-->
<!--                  <input formControlName="fullName" matInput placeholder="Full Name">-->
<!--                </mat-form-field>-->
<!--              <mat-form-field>-->
<!--                <input formControlName="laseName" matInput placeholder="Full Name">-->
<!--              </mat-form-field>-->
<!--              <mat-form-field>-->
<!--                <input formControlName="fullName" matInput placeholder="Full Name">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--        </mat-grid-tile>-->
<!--      -->
<!--        <mat-grid-tile>-->
<!--        </mat-grid-tile>-->
<!--    </mat-grid-tile>-->
<!--</form>-->

<form [formGroup]="service.form" class='normal-form'>
  <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class='controls-container'>
          <input type='hidden' formControlName="$countryId">
          <mat-form-field>
            <input formControlName="countryName" matInput placeholder="countryName*" [(ngModel)]="model.countryName">
            <mat-error>This is Mandatory</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="countryLocation" matInput placeholder="countryLocation*" [(ngModel)]="model.countryLocation">
            <mat-error>This is Mandatory</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="countryCategory" matInput placeholder="countryCategory*" [(ngModel)]="model.countryCategory">
            <mat-error>This is Mandatory</mat-error>
          </mat-form-field>


<!--          <mat-radio-group formControlName="countryCategory">-->
<!--            <mat-radio-button value="1">Rich</mat-radio-button>-->
<!--            <mat-radio-button value="2">Inter Medient</mat-radio-button>-->
<!--            <mat-radio-button value="3">Poor</mat-radio-button>-->
<!--          </mat-radio-group>-->

<!--          <mat-form-field appearance="fill" class="select-margin">-->
<!--            <mat-label>Select</mat-label>-->
<!--            <mat-select formControlName="countryCategory" >-->
<!--              <mat-option value="one">First option</mat-option>-->
<!--              <mat-option value="two">Second option</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->

          <div class="button-row">
            <button mat-raised-button  color="primary" type="submit" [disabled]="service.form.invalid" (click)="submitCountryDetail()">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>



        </div>
      </mat-grid-tile>
  </mat-grid-list>
<!--  -->

</form>

